@import "./variables.scss";
@import "./libs/normalize.scss";

@import "components/all";

#root {
  display: flex;
  flex-direction: column;
}

[data-color-scheme="dark"] {
  color-scheme: dark;
  background-color: $backgroundblack;
}

[data-color-scheme="light"] {
  color-scheme: light;
  background-color: $background;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 100px);

  background-color: #fff;
  margin: 10px auto;
  min-height: calc(100vh - 20px);

  border-radius: 10px;
  max-width: 1400px;

  min-width: 970px;

  @media (max-width: 970px) {
    min-width: 730px;
  }
  @media (max-width: 500px) {
    width: calc(100vw - 18px);
    min-width: 320px;
  }

  &.dark {
    background-color: #131313;
  }
}

.content {
  padding: 10px 0;
}

.addbutton {
  position: fixed;
  bottom: 50px;
  right: 50px;
  @media (max-width: 500px) {
    bottom: 30px;
    right: 30px;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;
  margin-bottom: 20px;
}
